// regole generali
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: $brown;
}

a{
  text-decoration: none;
}

button{
  border-radius: 6px;
}

section{
  padding: 80px 0;
}
