// regole generali
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: $blue;
}

a{
  text-decoration: none;
}

button{
  display: flex;
  align-items: center;
  padding: 6px;
  border: none;
  border-radius: 6px;
}

section{
  padding: 80px 0;
}
