// regole footer
footer{
  display: flex;
  padding: 80px 12%;

  .left-content{
    width: 30%;

    img{
      height: 40px;
      margin-bottom: 10px;
    }

    p{
      display: inline-block;

      span{
        color: $purple;
      }
    }
  }

  .right-content{
    display: flex;
    width: 70%;
    .column{
      width: calc(100% / 5);

      h4{
        margin-bottom: 10px;
      }

      ul{
        list-style: none;

        li{
          margin: 10px 0;

          a:hover{
            color: $purple;
          }
        }
      }
    }
  }
}
