// regole header
header{
  display: flex;
  justify-content: center;
  padding: 135px 12% 80px 12%;
  // padding-top: 55px;
  // debug
  border: 1px solid black;

  .left-content{

  }

  .right-content{
    img{
      height: 300px;
    }
  }
}
