// regole header
header{
  display: flex;
  justify-content: center;
  padding: 135px 12% 80px 12%;

  .left-content{

    p{
      margin: 40px 0;
    }

    a{
      display: flex;
      align-items: center;
      margin-top: 20px;
      color: $black;

      &:hover{
        color: $purple;
      }

      i{
        margin-left: 5px;
      }
    }

    .bottons-content{
      display: flex;
      align-items: center;

      span{
        margin: 0 5px;
        color: $black;
      }

      button{
        padding: 6px 20px;
        background-color: $purple;
        color: $white;

        img{
          height: 15px;
          margin-right: 5px;
        }
      }
    }

  }

  .right-content{
    img{
      height: 300px;
    }
  }
}
