// regole sezione 3
.section3{
  display: flex;

  & > div{
    // width: calc(100% / 2);
    // debug
    border: 1px solid black;
  }

  .left-content{
    width: 50%;
    img{
      width: 100%;
    }
  }

  .right-content{
    img{
      display: block;
      height: 200px;
    }
  }
}
