// colore blue
$blue: #0E14EE;

// colore blu chiaro
$light-blue: #4466D4;

// colore viola
$purple: #7F14D4;

// colore bianco
$white: #fff;

// colore nero
$black: #000;

// grigio chiaro
$light-grey: #cecece;
