// colore marrone
$brown: #58402c;

// colore rosa
$pink: #ffe7d2;

// colore blu
$blue: #30488f;

// colore bianco
$white: #fff;

// colore nero
$black: #000;

// grigio chiaro
$light-grey: #cecece;
